<h2>Catalog</h2>

<div>
  Sort by
  <select ng-init="predicate='name'" ng-model="predicate">
    <option value="name">Name</option>
    <option value="price">Price</option>
    <option value="rating">Rating</option>
  </select>
</div>

<div>
  <div class="item" ng-repeat="item in catalog | orderBy:predicate">
    <h3>{{item.name}}</h3>
    <img ng-src="images/{{item.name}}.jpg" alt="{{item.name}}">
    <p>Rating: {{item.rating}}/5</p>
    <p>Price: {{item.price | currency}} [<a href ng-click="addToCart(item)">buy</a>]</p>
  </div>
</div>
